body {
    background-color: #fff;
    max-width: 1024px;
    margin: auto;
  }
  
  header {
    background-color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 8px;
  }
  
  header img {
    width: 3rem;
  }
  
  header h1 {
    margin-bottom: 5rem;
  }
  
  header a {
    text-decoration: none;
    color: #333333;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 3rem;
  }
  
  .msg {
    background-color: #ff6403;
    text-align: center;
    margin-top: 1rem;
    padding: 3rem;
    margin-bottom: 6rem;
  }
  
  .info {
    color: #fff;
    font-family: "Kaushan Script", cursive;
  }
  
  .info h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  
  .info h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 400;
  }
  
  .btn {
    background-color: #74cc01;
    color: #fff;
    padding: 0.9rem 5rem;
    border-radius: 0.3rem;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  
  .banners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 3rem;
    padding-left: 3rem;
    gap: 1.5rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .banners img {
    border-radius: 1rem;
  }
  
  .intro {
    text-align: center;
  }
  
  .intro h2 {
    font-family: "Kaushan Script", cursive;
    color: #ff6403;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .intro h1 {
    font-family: poppins;
    font-size: 48px;
    font-weight: 600;
  }
  
  .intro span {
    color: #ff6403;
    font-family: inter;
    font-weight: 400;
  }
  
  .intro p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
  }
  
  .opcoes img {
    width: 358px;
    height: 239px;
    border-radius: 5px;
  }
  
  .opcao h1 {
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
  }
  
  .opcao p {
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: #ff6403;
  }
  
  .btn2 {
    background-color: #74cc01;
    color: #fff;
    padding: 16px 56px;
    margin-top: 48px;
    border-radius: 0.3rem;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  